.container {
  /* min-height: 100vh; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 10px;
}

.logo{
  font-size: 18px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 900px; */
  width: 100%;
  flex: 1;
}

.content{
  display: flex;
  margin: 20px;
  width: 100%;
}

.table{
  border: solid 1px #d6d7d8;
  border-collapse: collapse;
  margin: 5px;
  padding: 5px;
  width: 95%;
}

.table th{
  padding: 5px;
  border: 1px #d6d7d8 solid;
}

.table td{
  padding: 5px;
  border: 1px #d6d7d8 solid;
}

.pinDelete{
  display: flex;
  justify-content: space-between;
}

.pinDeleteButton{
  color: #db303e;
}

.signout:hover{
  cursor: pointer;
}

.button:hover{
  opacity: 0.5;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 60px;
}