.map {
  width: 100%;
  display: flex;
  flex: 1;
}

.image {
  width: 300px;
  height: 300px;
  /* height: 250px; */
  position: relative;
  /* aspect-ratio: 1 / 1.4; */
}

.title{
  font-size: 18px;

}

.description{
  font-size: 16px;
}

.button{
  background-color: white;
  padding: 5px;
  border: 1px solid black;
}

.button:hover{
  cursor: pointer;
}

@media (max-width: 900px) {
  .image {
    width: 200px;
    height: 200px;
  }
}

